<div class ="recipe-post"  data-name={{name}} data-calories={{calories}} data-carbs={{carbs}} data-protein={{protein}} data-fat={{fat}}>
   <div class="post-image-container">
            <img src={{photoURL}}>
    </div>
        <div class="post-info-container">
             <a href="{{recipeURL}}">Recipe</a>
             <span class="post-name">{{name}}</span><span class="post-calories">{{calories}}kcal</span>
             <span class="post-protein">{{protein}}g</span><span class="post-carbs">{{carbs}}g</span>
             <span class="post-fat">{{fat}}g</span>
</div>