<div class ="excercise-video"  data-name={{name}} data-type={{type}}>
    <div class="video">
        <iframe src="{{url}}"</iframe> 
    <div class="name">
        {{name}} </div>
    <div class="type">
        {{type}}
    </div>      
        <div class="exercise-info-container">
        <span class="exercise-name">${{name}}</span> <span class="{{type}}">({{type}})</span>
    </div>
</div>
