<div class ="excercise-video"  data-name={{name}} data-type={{type}}>
    <div class="video">
        <iframe src={{videoURL}}></iframe> 
    </div>
    <div class="name">
        {{name}} 
    </div>
    <div class="type">
        {{type}}
    </div>      
<<<<<<< HEAD
    <div class="exercise-info-container">
     <span class="exercise-name">${{name}}</span> <span class={{type}}>({{type}})</span>
=======
        <div class="exercise-info-container">
        <span class="exercise-name">{{name}}</span> <span class={{type}}>({{type}})</span>
>>>>>>> 5739797d510bec4b3236389cebd203fbb269747b
    </div>
</div>